.sort__controller__container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.sort__controller__controllers {
    display: flex;
    justify-content: center;
}

.sort__controller__timer {
    display: flex;
    justify-content: center;
}

.sort__controller__sortinfo {
    display: flex;
    justify-content: center;
    height: auto;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 1024px) {
    .sort__controller__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
  