.sorting__app {
  display: grid;
  grid-template-columns: 2;
}

.array__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  height: 90vh;
}

.array__bar {
  width: 10px;
  display: inline-block;
  border: 1px solid;
  color: black;
  transition: all 40ms linear;
}

.about__page {
  color: blue;
  position: absolute;
  right: -1rem;
  bottom: 5rem;
  transform: rotate(-90deg);
  font-weight: 400;
  font-size: 1.2rem;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 1024px) {
  .sorting__app {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .about__page {
    position: sticky;
    top: 100vh;
    padding-left: 40vw;
    padding-bottom: 10px;
    transform: rotate(0deg);
    font-weight: 400;
    font-size: 1.2rem;
  }
}